<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header style="font-size:25px; color:red">Header</header>
        @RenderBody()
        <footer style="font-size:25px; color:blue">Footer</footer>
    </div>
</body>
</html>
